


body {
	
	background: rgb(218, 227, 231);
	
	font-family: 'Lato', arial, sans-serif;
	color: #434343;
	font-size: 16px;
}



header {
	background: rgb(245, 245, 245);
	max-width: 960px;

}


.left-block {
	display: inline;
}

.left-block img {
	width: 390px;
	height: 260px;
}

.middle-block {
	display: inline-block;
}

.right-block {
	display: inline;
}

.right-block img {
	height: 260px;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h2 {
	font-family: "Lato", arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: rgb(119, 132, 146);
}


.main-section {
	max-width: 960px;
}